@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;500&display=swap');

body {
    font-family: "Merriweather", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    max-width: 60vw;
    margin: 0 auto;
    font-variant-ligatures: common-ligatures;
}

h2 {
    font-family: "Merriweather", serif;
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 400;
    margin: 1em 0 0.5em;
}

h3 {
    font-weight: 200;
}

.back-link a {
    font-size: 12px;
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 5px;
    font-family: 'Fira Code', monospace !important;
    font-variant-ligatures: common-ligatures;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: white !important;
    background-color: #3B82F6 !important;
}

.back-link a:hover {
    background-color: #1D4ED8 !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

div.date-test-ran {
    font-size: small;
    font-style: italic;
}

table.features-table {
    background-color: #D0D1D3;
    font-size: 14px;
    border-collapse: collapse;
    width: 100%;
    max-height: 60%;
    overflow: auto;
    box-sizing: border-box;
}

table.features-table tbody tr {
    border-top: none !important;
    border-bottom: none !important;
}

table.features-table tbody tr td {
    border: none !important;
}

table.summary-table {
    --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 1.5rem;
    --tw-border-opacity: 1;
    border-color: rgba(243, 244, 246, --tw-border-opacity);
    overflow-wrap: break-word;
}

table.summary-table th {
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
    line-height: 1;
    max-width: 120px;
    padding: 1.5rem;
}

table.summary-table td {
    justify-content: center;
    background-color: white !important;
    max-width: 120px;
    padding: 1.5rem;
    font-size: 14px;
    color: black;
}

pre.title {
    font-family: inherit;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1px;
    color: #333;
}

pre.narrative {
    font-family: inherit;
    font-size: 18px;
    font-style: italic;
    line-height: 23px;
    letter-spacing: -1px;
    color: #333;
}

.feature-description {
    font-size: 14px;
    font-weight: 400;
    padding: 4px;
    color: black;
}

.feature-description span.return-toc {
    margin-top: 24px;
    float: right;
    display: inline;
    font-size: 10px;
    color: darkgray;
}

.feature-description span.return-toc a {
    padding-left: 19px;
    padding-right: 19px;
    border: 1px solid #cccccc;
    border-top-color: rgb(204, 204, 204);
    border-right-color: rgb(204, 204, 204);
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(204, 204, 204);
    border-radius: 5px;
    font-family: 'Fira Code', monospace !important;
    font-variant-ligatures: common-ligatures;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: white !important;
    background-color: #3B82F6 !important;
}

.feature-description span.return-toc a:hover {
    background-color: #1D4ED8 !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.feature-toc-error {
    color: #F89A4F;
}

.feature-toc-failure {
    color: #FF8080;
}

.feature-toc-ignored {
    color: lightgray;
}

.feature-toc-pass {
    width: 100%;
    color: #337ab7;
    text-decoration: none;
}

.feature-description.error {
    background: #F89A4F;
}

.feature-description.failure {
    background: #FF8080;
}

.feature-description.ignored {
    background: lightgray;
}

.feature-description.ignored .reason {
    color: black;
    font-style: italic;
    font-size: small;
}

div.extra-info {
    font-size: small;
}

div.spec-headers {
    margin: 4px;
    font-style: italic;
}

div.spec-header {
}

div.issues {
    color: #664d03;
    background-color: #fff3cd;
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

div.pending-feature {
    background-color: dodgerblue;
    color: white;
    margin-top: 6px;
    padding: 5px;
    text-align: center;
    font-size: small;
    max-width: 120px;
}

div.problem-description {
    padding: 10px;
    background: pink;
    border-radius: 10px;
}

div.problem-header {
    font-weight: bold;
    color: red;
}

div.problem-list {

}

table.ex-table td {
}

table td {
    min-width: 50px;
}

col.block-kind-col {
    width: 70px;
}

span.spec-header {
    font-weight: bold;
}

div.spec-text {
}

div.spec-status {
    font-style: italic;
}

.ignored {
    color: gray;
}

div.spec-examples table.ex-table tbody tr.ex-pass td.ex-result {
    text-align: center;
    background-color: white;
    color: darkgray;
    width: 24px;
    height: 24px;
}

div.spec-examples table.ex-table tbody tr.ex-pass td.ex-result span.ex-time {
    background-repeat: no-repeat;
    background-size: auto;
    padding-left: 16px;
    background-image: url( "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 512 512'%3E%3Cpath fill='green' d='M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z' /%3E%3C/svg%3E" );
}

.ex-pass {
    color: darkgreen;
}

.ex-fail {
    color: red;
    font-weight: bold;
}


table tbody tr td {
    vertical-align: top;
}

div.block-kind {
    margin: 2px;
    font-style: italic;
    font-weight: 700;
    color: #000080;
    margin-right: .5em;
}

div.block-text {
    color: black;
    display: inline-block;
    font-weight: 400;
}

pre.block-source {
    white-space: pre-wrap;
    font-size: .875em;
    padding: .666em .75em;
    border-radius: .25em;
    margin: 0;
    margin-top: 0px;
    overflow-x: auto;
    background-color: #f6f8fa;
    color: #666;
    font-family: 'Fira Code', monospace !important;
    font-variant-ligatures: common-ligatures;
}

pre.block-source.error {
    position: relative;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #f5c2c7;
    border-radius: .25rem;
    color: #842029;
    background-color: #f8d7da;
}

pre.block-source.pre-error {

}

pre.block-source.before-error {
    margin-bottom: -14px;
}

pre.block-source.after-error {
    color: gray;
    margin-top: -14px;
}

pre.block-source.post-error {
    color: gray;
}

div.footer {
    text-align: center;
    font-size: small;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 12px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background-color: #ddd;
    color: #333;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: none;
}

tr:nth-child(odd) td {
    /* background: #EBEBEB;*/
}

tr:nth-child(odd):hover td {
    background-color: #ddd;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
}

td {
    background: #FFFFFF;
    padding: 8px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0;
}

table.ex-table {
    border-collapse: collapse;
    margin: 0;
    margin-top: 0px;
    text-indent: 0;
    border-color: inherit;
}

table.ex-table tbody td.ex-value {
    padding: .4em .6em;
    border-top: 2px solid !important;
    border-bottom: 2px solid !important;
    border-left: 2px solid #000080 !important;
    border-bottom: #000080 !important;
    border-right: 2px solid #000080 !important;
    border-top: #000080 !important;
    color: #2a7cde !important;
    background-color: white !important;
}

div.feature-description {
    background-color: #ebebeb !important;
}

table.ex-table tbody tr {
    background-color: white !important;
}

td[colspan="10"] {
    background-color: #ebebeb !important;
}
