
.axis {
  -fx-font-size: 14px;
  -fx-tick-label-fill: #914800;
  -fx-font-family: Tahoma;
  -fx-tick-length: 20;
  -fx-minor-tick-length: 10;
  -fx-stroke: #3278fa;
}
.axis-label {
  -fx-text-fill: #462300;
  -fx-text-fill: #4682b4;
}
.chart {
  -fx-padding: 10px;
}
.chart-content {
  -fx-padding: 30px;
}
.chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.6em;
}
.chart-legend {
  -fx-background-color: transparent;
  -fx-padding: 20px;
}
.chart-legend-item-symbol {
  -fx-background-radius: 0;
  -fx-background-radius: 0;
}
.chart-legend-item {
  -fx-text-fill: #191970;
  -fx-text-fill: #191970;
}
.chart-plot-background {
  -fx-background-color: #e2ecfe;
}
.chart-vertical-grid-lines {
  -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
  -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
  -fx-fill: #99bcfd;
  -fx-stroke: transparent;
  -fx-stroke-width: 0;
}
.chart-series-line {
  -fx-stroke: transparent;
}
.series {
  -fx-background-color: black, white;
  -fx-background-insets: 0, 2;
  -fx-background-radius: 5px;
  -fx-padding: 5px;
}