////
//// Typography
//// --------------------------------------------------
//
//$font-size-base:          14px !default;
//$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
//$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px
//
//$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
//$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
//$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
//$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
//$font-size-h5:            $font-size-base !default;
//$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px
//
//// Headings
//// -------------------------
//
//.h1, .h2, .h3, .h4, .h5, .h6 {
//  //-fx-font-family: $headings-font-family;
//  //-fx-font-weight: $headings-font-weight;
//  // line-height: $headings-line-height;
//  -fx-text-fill: $headings-color;
//  -fx-fill: $headings-color;
//
//  small,
//  .small {
//    -fx-font-weight: normal;
//    // line-height: 1;
//    -fx-text-fill: $headings-small-color;
//    -fx-fill: $headings-small-color;
//  }
//}
//
//.h1,
//.h2,
//.h3 {
//  // margin-top: $line-height-computed;
//  // margin-bottom: ($line-height-computed / 2);
//
//  small,
//  .small {
//    -fx-font-size: 65%;
//  }
//}
//.h4,
//.h5,
//.h6 {
//  // margin-top: ($line-height-computed / 2);
//  // margin-bottom: ($line-height-computed / 2);
//
//  small,
//  .small {
//    -fx-font-size: 75%;
//  }
//}
//
//.h1 { -fx-font-size: $font-size-h1; }
//.h2 { -fx-font-size: $font-size-h2; }
//.h3 { -fx-font-size: $font-size-h3; }
//.h4 { -fx-font-size: $font-size-h4; }
//.h5 { -fx-font-size: $font-size-h5; }
//.h6 { -fx-font-size: $font-size-h6; }
